

/* HEADER */

.header-logo{
  width: 30px;
  margin-right: 10px;
}
.head{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  background-color: aliceblue;
}

.font-header{
  margin: 0px;
  font-weight: 700;
  color: #1c2226;
}

/* MAIN */

.content{
  display: flex;
  justify-content: center;
  gap: 15px;
}

.container{
  margin: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 25px;
}

.content-images{
  margin: 10px;
  width: 250px;
  height: 250px;
  border-radius: 10px;
}


